.additional-goods {
  margin-bottom: 35px;
  overflow-x: hidden;
}

.additional-goods__title {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;

  @include font-oswald(24px, 40px);
  background-color: $standard-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    margin-left: 28px;
    padding-left: 39px;
    padding-right: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: $wrapper-desk-left - 38px;
  }
}

.additional-goods__wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 60px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}

.additional-goods__stock {
  display: flex;
  justify-content: center;
  min-height: 289px;
  padding-top: 65px;
  background-color: $bg-main;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 65px;
    margin-left: 80px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.additional-goods__stock-title {
  display: flex;
  flex-direction: column;
  width: 165px;

  @include font-arial(16px, 20px);
  text-align: center;
  color: $btn-txt-color;

  &::before {
    display: block;
    content: "";
    width: 56px;
    height: 61px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 61px;
    background-image: url("../img/icon-gift.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    min-height: 200px;
    flex-direction: row;
    align-items: center;
    width: 528px;
    text-align: left;

    &::before {
      min-width: 56px;
      padding: 0;
      margin-bottom: 8px;
      margin-right: 278px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      margin-bottom: 60px;
    }
  }
}
