.catalog {
  padding-top: 15px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 4px;

    @include wrapper ();
  }
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;

  @include font-oswald(36px, 60px);

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
    margin-left: -30px;
    margin-right: -30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    margin-right: -40px;
  }
}
