.catalog {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-bottom: 20px;

  &__title {
    padding: 0;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 28px;
    @include oswald-font(36px, 60px)
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
