.catalog-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 24px;
  min-height: 209px;
  border: $border-1;
  border-top: none;

  &:first-child {
    border-top: $border-1;
  }

  &:last-child {
    padding-top: 52px;

    &::after,
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 2px;
      height: 30px;
      top: 26px;
      left: 50%;
      background-color: $link-color;
      opacity: 0.2;
    }

    &::after {
      width: 30px;
      height: 2px;
      top: 40px;
      left: calc(50% - 14px);
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    width: 324px;
    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 40px;
    margin-bottom: 63px;
    margin-top: 77px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: $bg-second;
    border: none;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      justify-content: space-between;
      align-items: center;
      min-height: 432px;
      padding-top: 136px;
      padding-bottom: 39px;
      background-image: none;
      background-color: $standard-color;
      border: $border-2;

      &::before {
        height: 60px;
        top: 54px;
      }

      &::after {
        width: 60px;
        top: 83px;
        left: calc(50% - 29px);
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 71px;
    margin-top: 71px;
  }
}

.catalog-item__title {
  margin: 0;
  font-weight: 400;
}

.catalog-item__img-link {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    height: 212px;
    margin-top: -86px;
    margin-bottom: 37px;
    margin-left: -38px;
    margin-right: -37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -81px;
    margin-bottom: 36px;
    height: 208px;
  }
}

.catalog-item__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: auto;
    vertical-align: bottom;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: auto;
  }
}

.catalog-item__card-specs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 140px);
  padding: 21px 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-grow: 0;
    padding: 0;
  }
}

.catalog-item__link {
  margin-bottom: auto;
  padding-right: 60px;

  @include font-oswald(16px,20px);
  text-transform: uppercase;
  color: $link-color;

  @media (min-width: $tablet-width) {
    width: 130px;
    align-self: center;
    margin-bottom: 19px;
    padding-right: 0;
    font-size: 20px;
    text-align: center;
  }
}

.catalog-item__specs-list {
  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.catalog-item__show-all {
  width: 100%;
  margin-bottom: 8px;
  padding-top: 27px;
  text-align: center;

  @include font-oswald(16px,20px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 140px;
    font-size: 20px;
  }
}

.catalog-item__info {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;

  @include font-arial(12px,16px);

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
    width: 170px;
    font-size: 16px;
    line-height: 19px;
  }
}

.catalog-item__button-buy {
  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
