.catalog-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 24px;
  min-height: 209px;
  border: $border-1;
  border-top: none;

  &:first-child {
    border-top: $border-1;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 324px;
    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 40px;
    margin-bottom: 63px;
    margin-top: 77px;
    // margin-bottom: 58px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: $bg-second;
    // background-image: linear-gradient(to bottom, transparent 0, transparent 82px, $bg-second 82px, $bg-second 100%);
    border: none;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      justify-content: space-between;
      min-height: 432px;
      // margin-top: 83px;
      padding-top: 27px;
      padding-bottom: 39px;
      background-image: none;
      background-color: $standard-color;
      border: $border-2;
      // box-shadow: 0 -1px 0 0 $border-color-2,
      //   0 1px 0 0 $border-color-2;
      // border-left: $border-2;
      // border-right: $border-2;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 71px;
    margin-top: 71px;
    // margin-bottom: 142px;
  }
}

.catalog-item__title {
  margin: 0;
  font-weight: 400;
}

.catalog-item__img-link {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 212px;
    margin-top: -86px;
    margin-bottom: 37px;
    margin-left: -38px;
    margin-right: -37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -81px;
    margin-bottom: 36px;
    min-height: 208px;
  }
}

.catalog-item__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: auto;
    vertical-align: bottom;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: auto;
  }
}

.catalog-item__card-specs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-grow: 0;
  }
}

.catalog-item__link {
  margin-bottom: 14px;
  width: 80px;

  @include font-oswald(16px,20px);
  text-transform: uppercase;
  color: $link-color;

  @media (min-width: $tablet-width) {
    width: 130px;
    align-self: center;
    margin-bottom: 19px;
    font-size: 20px;
    text-align: center;
  }
}

.catalog-item__specs-list {
  @include font-arial(12px,16px);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 33px;
  }
}

.specs-list__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: $border-4;
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

.catalog-item__show-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  padding-top: 27px;
  text-align: center;

  @include font-oswald(16px,20px);
  text-transform: uppercase;

  &::before {
    content: "";
    padding: 15px;
    margin-bottom: 22px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px 30px;
  }

  @media (min-width: $tablet-width) {
    width: 140px;
    font-size: 20px;

    &::before {
      padding: 30px;
      margin-bottom: 50px;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 60px 60px;
    }
  }
}

.catalog-item__info {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;

  @include font-arial(12px,16px);

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
    width: 170px;
    font-size: 16px;
    line-height: 19px;
  }
}
