.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 27px;
  background-color: $standard-color;

  &--bg-color {
    background-color: $bg-second;
  }

  @media (min-width: $tablet-width) {
    // padding-left: 71px;
    // padding-right: 71px;
    padding-top: 65px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 12px;
    padding-right: 44px;
    padding-left: 35px;

    &--bg-color {
      background-color: $standard-color;
    }
  }
}

.contacts__title {
  min-width: 140px;

  @include font-oswald(16px, 20px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-left: 41px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 88px;
  }
}

.contacts__address {
  @include font-arial(14px, 20px);
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-right: 41px;
    text-align: end;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts__address-span {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
  }
}

.contacts__map {
  min-height: 361px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-clip: border-box;

  @media (min-width: $tablet-width) {
    min-height: 396px;
    background-image: url("../img/bg-map-tablet@1x.png");
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: cover;
  }
}
