.description {
  margin-bottom: 33px;
}

.description__title {
  margin-top: 0;
  margin-bottom: 30px;

  @include font-oswald(36px, 54px);
  // @include font-oswald(36px, 60px);
}

.description__list {
  display: flex;
  flex-direction: column;
}

.description__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;

  @include font-arial(14px, 18px);

  &:first-of-type {
    padding-top: 0;
  }

  &::before {
    padding: 5px;
    margin-right: 20px;
    min-width: 60px;
    height: 60px;
    background-color: $bg-main;
  }

  &--natural::before {
    content: url("../img/advantage-leaf@1x.png");
  }

  &--water::before {
    content: url("../img/advantage-powder@1x.png");
  }

  &--food::before {
    content: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    content: url("../img/advantage-clock@1x.png");
  }
}
