.description {
  margin-bottom: 20px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}

.description__title {
  margin-top: 0;
  margin-bottom: 31px;

  @include font-oswald(36px, 54px);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.description__list {
  display: flex;
  flex-direction: column;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    max-width: 970px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.description__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;

  @include font-arial(14px, 18px);

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: $bg-main;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
  }

  &--natural::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--water::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--food::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 245px;
    min-height: 257px;
    padding-top: 22px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      min-width: 80px;
      height: 80px;
      margin-bottom: 32px;
    }

    &::after {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      left: 118px;
      top: -18px;

      @include font-oswald(281px, 281px);
      color: $bg-second;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
