.example {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  background-color: $bg-main;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    @include oswald-font(36px, 60px);
  }

  &__description {
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    @include arial-font(14px, 18px);
    letter-spacing: 0.01px;
  }

  &__total {
    margin: 0;
    margin-bottom: 14px;
    padding: 20px 0;
    @include oswald-font(14px, 20px);
    text-transform: uppercase;
    align-self: center;
  }

}

.example__image {
  // ВРЕМЕННО (надо сверстать блок было-стало)
  margin-bottom: 88px;
}
