.example {
  padding-top: 17px;
  padding-bottom: 11px;
  background-color: $bg-second;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__title {
  margin-top: 0;
  margin-bottom: 10px;

  @include font-oswald(36px, 60px);
}

.example__description {
  margin: 0;
  padding: 13px 0;

  @include font-arial(14px, 18px);
  letter-spacing: 0.01px;
}

.example__total {
  margin-top: 0;
  margin-bottom: 14px;
  padding: 20px 0;

  @include font-oswald(14px, 20px);
  text-transform: uppercase;
  align-self: center;
}

.example__range {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 2px;
  width: 220px;
  padding-top: 23px;
  padding-bottom: 20px;
}

.example__progress-bar {
  width: 84px;
  height: 14px;
  margin: 0 13px;
  padding: 3px 5px;
  background-color: $standard-color;
  border: 1px solid $border-color-4;
  border-radius: 6px;
}

.example__range-button {
  width: 50px;
  padding: 5px;

  @include font-oswald(16px, 20px);
  text-transform: uppercase;
  background-color: $bg-second;
  border: none;

  &--before {
    text-align: end;
  }

  &--after {
    text-align: start;
  }
}

.example__progress-toggle {
  width: 50%;
  height: 6px;
  background-color: $bg-main;
  border-radius: 5px;
}
