
.form-comment {
  padding-top: 15px;
}

.form-comment__textarea {
  width: 100%;
  height: 150px;
  padding: 13px;
  resize: none;
  border: $border-second;

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 14px 18px;
  }
}

.form-comment__container {
  display: flex;

  @media (min-width: $desktop-width) {
    padding-left: 113px;
    padding-right: 110px;
  }
}
