.form-contacts {
  padding-top: 0;
}

.form-contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: $wrapper-desk-left;
    padding-right: $wrapper-desk-right;
  }
}

.form-contacts__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &--email {
      width: 50%;
      margin-right: 40px;
    }

    &--phone {
      width: 50%;
      margin-left: 40px;
    }
  }
}

.form-contacts__input {
  flex-grow: 1;
  width: 50%;
  margin-left: 10px;
  height: 45px;
  padding-left: 15px;
  padding-right: 40px;
  border: $border-second;

  @include input-border();

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-left: 15px;
    padding-left: 20px;
  }
}

.form-contacts__icon {
  position: absolute;

  &--mail {
    top: 15px;
    right: 16px;
  }

  &--phone {
    top: 12px;
    right: 13px;
  }

  @media (min-width: $tablet-width) {
    right: 20px;

    &--mail {
      top: 20px;
    }

    &--phone {
      top: 17px;
    }
  }
}

.form-contacts__input:focus + .form-contacts__icon {
  fill: $bg-main;
}
