.form-contacts {
  padding-top: 14px;
}

.form-contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: $wrapper-desk-left;
    padding-right: $wrapper-desk-right;
  }
}

.form-contacts__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }


  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--email::after {
    width: 17px;
    height: 13px;
    right: 16px;
    background-image: url("../img/icon-mail.svg");
    background-size: 17px 13px;
  }

  &--phone::after {
    width: 20px;
    height: 20px;
    right: 13px;
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &--email {
      width: 50%;
      margin-right: 40px;

      &::after {
        right: 22px;
      }
    }

    &--phone {
      width: 50%;
      margin-left: 40px;

      &::after {
        right: 18px;
      }
    }
  }
}

.form-contacts__input {
  flex-grow: 1;
  margin-left: 10px;
  height: 45px;
  padding-left: 15px;
  padding-right: 40px;
  outline: none;
  border: $border-second;

  @include input-border ();

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-left: 15px;
    padding-left: 20px;
  }
}
