
.form-comment {
  padding-top: 0;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.form-comment__textarea {
  width: 100%;
  height: 150px;
  padding: 13px;
  resize: none;
  border: $border-second;

  @include input-border();

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 14px 18px;
  }
}

.form-comment__container {
  display: flex;

  @media (min-width: $desktop-width) {
    padding-left: $wrapper-desk-left;
    padding-right: $wrapper-desk-right;
  }
}
