.goods-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.goods-list__item {
  display: flex;
  flex-direction: column;
  border-bottom: $border-4;
  padding-top: 14px;
  padding-bottom: 17px;

  &:first-child {
    border-top: $border-4;
  }

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 20px;
    padding-bottom: 27px;
    border-left: $border-4;
    border-right: $border-4;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border-left: none;
    border-right: none;
  }
}

.goods-list__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.goods-list__item-specs {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  margin-bottom: 15px;
  margin-left: 0;

  @include font-arial(14px, 14px);

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 305px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.goods-list__item-title {
  margin-bottom: 12px;

  @include font-oswald(16px, 16px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.goods-list__item-field {
  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.goods-list__item-value {
  @media (min-width: $tablet-width) {
    min-width: 70px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    min-width: 60px;
    text-align: left;
  }
}

.goods-list__button-buy {
  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
