.goods-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;

  @media (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 69px;
  }
}

.goods-list__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $border-color-4;
  padding-top: 14px;
  padding-bottom: 17px;

  &:first-child {
    border-top: 1px solid $border-color-4;
  }

  @media (min-width: 768px) {
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 25px;
    padding-bottom: 27px;
    border-left: 1px solid $border-color-4;
    border-right: 1px solid $border-color-4;
  }
}

.goods-list__item-wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.goods-list__item-specs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 0;

  @include font-arial(14px, 14px);

  @media (min-width: 768px) {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 20px;
  }
}

.goods-list__item-title {
  margin-bottom: 12px;

  @include font-oswald(16px, 16px);
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.goods-list__item-field {
  @media (min-width: 768px) {
    margin-right: 24px;
  }
}

.goods-list__item-value {
  @media (min-width: 768px) {
    min-width: 70px;
    text-align: end;
  }
}
