.page-footer {
  background-color: $bg-second;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    min-height: 150px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-footer__logo-title {
  align-self: center;
  text-align: center;
  padding: 27px 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--main {
    &:hover,
    &:active {
      opacity: 1;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 35px;
    padding-top: 3px;
    padding-bottom: 0;
    text-align: left;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  min-width: 163px;
  padding: 19px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__copyright-link {
  padding-top: 5px;
  padding-bottom: 5px;

  @include font-arial(16px, 16px);
  color: $copyright-color;
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: -8px;
  fill: $social-color;

  &:hover {
    fill: $bg-main;
  }

  &:active {
    opacity: 0.3;
  }
}
