.page-nav__list {
  text-transform: uppercase;
  overflow: hidden;
  transition: height 0.8s ease;

  &--close {
    height: 0;
  }

  @media (min-width: 768px) {
    display: flex;
    max-width: 480px;
    margin-right: 30px;
    height: auto;
      &--close {
        height: auto;
    }
  }

}

.page-nav__item {
  text-align: center;
  border-bottom: 1px solid $border-color-2;

  @media (min-width: 768px) {
    padding-left: 35px;
    border: none;
  }

}

.page-nav__link {
  display: flex;
  justify-content: center;
  color: $link-color;
  padding-bottom: 23px;
  padding-top: 22px;
}
