.page-nav {
  &__list {
    text-transform: uppercase;
  }

  &__item {
    text-align: center;
    border-bottom: 1px solid $border-color-2;
  }
  &__link {
    display: flex;
    justify-content: center;
    color: $link-color;
    padding-bottom: 23px;
    padding-top: 22px;
  }
}
