.page-header {
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
  @include oswald-font(20px, 20px);
  font-weight: 500;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px
  }

  &__logo {
    cursor: pointer;
  }

  &__logo--main-page {
    cursor: auto;
  }

  &__toggle {
    border: none;
    width: 24px;
    height: 18px;
    background: url(/img/icon-mobile-menu.svg) no-repeat 50%;
    background-size: 24px 18px;
    cursor: pointer;
  }
}
