.page-header {
  display: flex;
  flex-direction: column;

  @include font-oswald(20px, 20px);
  font-weight: 500;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    @include wrapper ();
    @include font-oswald(18px, 25px);
    font-weight: 400;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 11px;
  border-bottom: 1px solid $border-color-2;

  @media (min-width: 768px) {
    border: none;
  }
}

.page-header__logo {
  margin-left: 20px;
  padding-bottom: 4px;
  cursor: pointer;

  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.page-header__logo--main-page {
  cursor: auto;
}

.page-header__toggle {
  width: 24px;
  height: 18px;
  margin-right: 12px;
  padding: 20px;
  background: url("../img/icon-close.svg") no-repeat 50%;
  background-size: 24px 18px;
  border: none;
  cursor: pointer;

  &--close {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  @media (min-width: 768px) {
    display: none;
  }
}
