.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  &__logo-title {
    align-self: center;
  }

  &__copyright-link {
    @include arial-font(16px, 16px);
    color: #444444;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: -170px;
      width: 27px;
      height: 34px;
      background-image: url(../img/htmlacademy.svg);
      background-repeat: no-repeat;
    }
  }
}
