.personal-data {
  display: flex;
  border: none;
  // margin-bottom: 9px;
  &::after {
    display: none;
  }
}

.personal-data__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;

  &:last-child {
    margin-bottom: 4px;
  }
}

.personal-data__input {
  position: relative;
  flex-grow: 1;
  margin-left: 15px;
  padding-left: 13px;
  padding-right: 13px;
  height: 46px;
  outline: none;
  border: 2px solid $bg-second;
}
