.program-form {
  display: flex;
  flex-direction: column;
  @include oswald-font(16px, 18px);
  text-transform: uppercase;
}

.program-form__fieldset {
  border: none;
}

.program-form__legend {
  @include oswald-font(24px, 24px);
  text-transform: none;
}

.program-form__explanation {
  @include arial-font(14px, 16px);
  text-transform: none;
  text-align: center;
}
