.program__list {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.program__item {
  flex-grow: 1;

  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $bg-second;

  @media (min-width: 768px) {
    padding: 59px 54px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.program__item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;

  @media (min-width: 768px) {
    &--slim {
      max-width: 380px;
    }

    &--pro {
      max-width: 340px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.program__title {
  // display: flex;
  // align-items: center;
  position: relative;
  margin: 0;
  margin-left: 70px;
  padding: 10px 0;

  @include font-oswald(24px, 37px);
  text-transform: uppercase;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    // display: flex;
    // justify-content: center;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: -1;
  }

  &--slim::before {
    top: 0;
    left: -68px;
    background-image: url("../img/icon-cat-slim.png");
    width: 50px;
    height: 56px;
  }

  &--pro::before {
    top: 4px;
    left: -77px;
    background-image: url("../img/icon-cat-pro.png");
    width: 67px;
    height: 50px;
  }

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    padding-top: 17px;

    &--slim::before {
      top: 21px;
      left: 393px;
      right: 20px;
      width: 200px;
      height: 212px;
    }

    &--pro::before {
      top: 32px;
      left: 359px;
      right: 20px;
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 150px;

    &--slim::before {
      top: -20px;
      left: -150px;
      width: 100px;
      height: 106px;
    }

    &--pro::before {
      top: -15px;
      left: -165px;
      width: 134px;
      height: 100px;
    }
  }
}

.program__description {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 21px;

  @include font-arial(14px, 18px);
  border-bottom: 1px solid $border-color-3;

  @media (min-width: 768px) {
    padding: 15px 0;
    margin-bottom: 41px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }
}

.program__button {
  position: relative;
  padding-right: 12px;

  @include font-oswald(16px, 16px);
  text-transform: uppercase;
  color: $link-color;
  background-color: $bg-second;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    right: -35px;
    width: 34px;
    height: 15px;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat center;
    transform: translateX(-11px);
    transition: transform 0.5s ease;
    z-index: -1;
  }

  &:hover::after {
    transform: translateX(-3px);
  }

  &:focus::after {
    transform: translateX(-3px);
  }

  @media (min-width: 768px) {
    padding-right: 21px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 8px;
      right: -37px;
    }
  }
}
