.program-form {
  padding-top: 20px;
  margin-bottom: 22px;

  @include font-oswald(16px, 18px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.program-form__wrapper {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 70px;
    padding-left: $wrapper-desk-left;
    padding-right: $wrapper-desk-right;
  }
}

.program-form__fieldset {
  position: relative;
  border: none;
  margin-bottom: 8px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-left: 0;
    padding-right: 0;
  }
}

.program-form__legend {
  position: relative;
  display: inline-block;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  margin-bottom: 35px;
  background-color: $standard-color;

  @include font-oswald(24px, 24px);
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    margin-bottom: 75px;
    padding-left: 38px;
    padding-right: 40px;
    padding-top: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: $wrapper-desk-left - 38px;
  }
}

.program-form__legend-span {
  display: block;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.program-form__submit {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 71px;
    padding-right: 67px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: $wrapper-desk-left;
    padding-right: $wrapper-desk-right;
  }
}

.program-form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: calc(50% - 30px);
    margin-bottom: 0;
    margin-right: 30px;
    min-height: 52px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
    margin-right: 40px;
  }
}

.program-form__explanation {
  @include font-arial(14px, 16px);
  text-transform: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    width: calc(50% - 30px);
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
    margin-left: 40px;
  }
}
