.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
  background: linear-gradient(to bottom, $bg-main 0%, $bg-main 62%, $standard-color 62%, $standard-color 100%);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;

  @include font-oswald(36px, 36px);
  color: $promo-color;
  text-align: center;

  @media (min-width: 768px) {
    position: relative;
    // min-height: 780px;
    margin-left: 120px;
    background: none;
    color: $link-color;
    text-align: left;
    align-items: flex-start;
  }
}


.promo__title {
  margin-top: 28px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: 768px) {
    width: 420px;
    margin-bottom: 41px;
    color: $link-color;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__span {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  margin-bottom: 2px;

  @media (min-width: 768px) {
    position: absolute;
    z-index: -1;
  }
}

.promo__button {
  width: calc(100% - 40px);
  font-size: 14px;

  @media (min-width: 768px) {
    // ВРЕМЕННО
    margin-bottom: 507px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0;
  }
}
