.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 22px;

  @include font-oswald(36px, 36px);
  color: $promo-color;
  text-align: center;

  @media (max-width: $tablet-width - 1px) {
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      min-height: 306px;
      background-color: $bg-promo;
      background-image: url("../img/index-background-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      z-index: -2;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-mobile@2x.jpg");
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 15.35%;
    margin-bottom: 0;
    color: $link-color;
    text-align: left;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    height: 574px;
    padding-top: 100px;
    padding-left: $wrapper-desk-left + 80px;
    margin-bottom: 80px;
  }
}

.promo__title {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 420px;
    margin-top: 0;
    margin-bottom: 42px;
    color: $link-color;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__span {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__picture {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.promo__image {
  display: block;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 0;
    width: 709px;
    height: auto;
    left: -90px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    right: 24%;
    bottom: 80px;
    left: auto;
  }
}

.promo__button {
  width: 100%;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    bottom: 530px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 0;
    top: 0;
  }
}
