.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 22px;

  @include font-oswald(36px, 36px);
  color: $promo-color;
  text-align: center;

  @media (max-width: $tablet-width - 1px) {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      min-height: 306px;
      background-color: $bg-promo;
      background-image: url("../img/index-background-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: top;
      z-index: -2;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 118px;
    color: $link-color;
    text-align: left;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
    padding-left: 90px;
    min-height: 507px;
    margin-bottom: 80px;
  }
}

.promo__title {
  margin-top: 28px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 420px;
    margin-top: 0;
    margin-bottom: 41px;
    color: $link-color;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__span {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    // ВРЕМЕННО
    top: 400px;
    left: 150px;
  }

  @media (min-width: $desktop-width) {
    top: 150px;
    left: 500px;
  }
}

.promo__button {
  width: 100%;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    // ВРЕМЕННО
    margin-bottom: 507px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
