.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 11px;
  width: 100%;
  border-top: $border-3;
  border-bottom: $border-3;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.social-list__item {
  margin-right: 12px;
  margin-left: 12px;
  padding-top: 3px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
    margin-left: 9px;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  fill: $social-color;

  &:hover {
    fill: $bg-main;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
  }
}

.social-list__icon {
  @media (min-width: $tablet-width) {
    transform: scale(1.4);
  }
}
