.social-list {
  display: flex;
  justify-content: center;
  // align-self: center;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-bottom: 10px;
  width: 100%;
  border-top: $border-3;
  border-bottom: $border-3;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.social-list__item {
  margin-right: 25px;
  padding-bottom: 4px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  &--facebook {
    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }
  }
}

.social-list__icon {
  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: auto;
    }

    &--insta {
      width: 23px;
      height: auto;
    }

    &--fb {
      width: 14px;
      height: auto;
    }
  }
}
