.social-list {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 4px;
  width: 100%;
  border-top: 1px solid $border-color-3;
  border-bottom: 1px solid $border-color-3;
}

.social-list__item {
  margin-right: 14px;
  padding-top: 2px;
  padding-bottom: 2px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: inline-block;
  padding: 20px;
  background-color: $bg-second;
  background-position: center;
  background-repeat: no-repeat;

  &--vkontakte {
    background-image: url("../img/icon-vk.svg");
    background-size: 22px 12px;
  }

  &--instagram {
    background-image: url("../img/icon-insta.svg");
    background-size: 16px 16px;
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    background-size: 10px 19px;
  }
}
