.container {
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    // max-width: 1220px + $wrapper-desk-right + $wrapper-desk-left;
    max-width: 1440px;
  }
}

.wrapper {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: $wrapper-desk-right;
    padding-left: $wrapper-desk-left;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  // -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overflow {
  overflow-x: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button-main {
  width: 100%;
  padding: 10px 0;

  @include font-oswald(16px,20px);
  color: $btn-txt-color;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-main;
  border: none;

  &:hover,
  &:focus {
    background-color: $button-hvr;
  }

  &:active {
    color: $btn-txt-down;
  }

  &--bg-second {
    color: $link-color;
    background-color: $bg-second;

    &:hover,
    &:focus {
      background-color: $button-hvr-second;
    }

    &:active {
      color: $btn-txt-grey-down;
    }
  }
}

.upper-oswald {
  @include font-oswald(16px,18px);
  text-transform: uppercase;
  color: $input-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.title-after {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 100vw;
    height: 3px;
    top: 22px;
    z-index: -1;
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }
}

.opacity {
  opacity: 0;
}
