.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  // -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1300px;
  }
}

.button-main {
  width: 100%;
  padding: 10px 0;

  @include font-oswald(16px,20px);
  color: $btn-txt-color;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-main;
  border: none;

  &--bg-second {
    color: $link-color;
    background-color: $bg-second;
  }
}

.upper-oswald {
  @include font-oswald(16px,18px);
  text-transform: uppercase;
  color: $input-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.title-after {
  &::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 100%;
    height: 3px;
    top: 22px;
    right: 0;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 29px;
    }
  }
}

.opacity {
  opacity: 0;
}
