@mixin font-oswald($size: 14px, $line-height: 1.29) {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: $size;
  line-height: $line-height;
}

@mixin font-arial($size: 14px, $line-height: 1.29) {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: $size;
  line-height: $line-height;
}

@mixin input-border () {
  &:hover {
    border-color: $border-color-4;
  }

  &:focus {
    // border-width: 2px;
    border-color: $input-color;
    box-shadow: 1px 1px 0 0 $input-color inset,
      -1px -1px 0 0 $input-color inset;
  }
}
