@mixin font-oswald($size: 14px, $line-height: 1.29) {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: $size;
  line-height: $line-height;
}

@mixin font-arial($size: 14px, $line-height: 1.29) {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: $size;
  line-height: $line-height;
}

@mixin wrapper () {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
