$bg-main: #68b738;
$bg-second: #f2f2f2;
$promo-color: #ffffff;
$btn-txt-color: #ffffff;
$link-color: #000000;
$standard-color: #ffffff;
$radio-color: #ffffff;
$input-color: #444444;
$copyright-color: #444444;
//ПРОИЗВОДНЫЕ ОТ ЧЕРНОГО
$border-color-1: #ededed;
$border-color-2: #e6e6e6;
$border-color-3: #d9d9d9;
$border-color-4: #cdcdcd;
$border-color-5: #dcdcdc;
$transparent: transparent;
$bg-promo: #65a93c;
//
$border-1: 1px solid $border-color-1;
$border-2: 1px solid $border-color-2;
$border-3: 1px solid $border-color-3;
$border-4: 1px solid $border-color-4;
$border-second: 1px solid $bg-second;
//
$tablet-width: 768px;
$desktop-width: 1280px;
//
$wrapper-desk-left: 110px;
$wrapper-desk-right: 110px;
